body {
  font-family: Arial, sans-serif;
  background-color: #acf2bf;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed; /* Stays in place when scrolling */
  top: 10px; /* Adjust the top position */
  left: 10px; /* Adjust the left position */
  width: 10%; /* Increased width to fit links on one line */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px; /* Rounded corners */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 5px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li:hover {
  background-color: #111;
}

.booking-nav {
  padding: 0px;
}

.admin-nav {
  padding: 0px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
  width: calc(100% - 22px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
}